<div class="sidebar">
    <div class="sidebar-header">
        <img src="img/Logo-transparent.png" class="sidebar-logo" />
    </div>

    <nav class="sidebar-nav">
        <NavLink class="sidebar-link" href="dashboard">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </NavLink>

        <NavLink class="sidebar-link" href="incidents">
            <i class="bi bi-exclamation-triangle"></i>
            <span>Incidents</span>
        </NavLink>
        
        <NavLink class="sidebar-link" href="alerts">
            <i class="bi bi-bell"></i>
            <span>Alerts</span>
        </NavLink>
        
        <NavLink class="sidebar-link" href="users">
            <i class="bi bi-people"></i>
            <span>Users</span>
        </NavLink>
        
        <NavLink class="sidebar-link" href="logs">
            <i class="bi bi-journal-text"></i>
            <span>Logs</span>
        </NavLink>

        <NavLink class="sidebar-link" href="login">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </NavLink>
    </nav>
</div>